.form{
    width: 700px;
    background-color:#000;
    background: hsla(260,40%,5%,.9);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.detect-button-style{
    color: #3c48fa;
    border-color: #3c48fa;
}

.detect-button-style:hover,
.detect-button-style:focus{
    color: #fff;
    border-color: #fff;
}

.link-form-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}