@font-face{
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: normal;
	src: local('Roboto Mono'),
		 url('./RobotoMono-Light.ttf') format('truetype');
}

:root {
	font-size: 15px;
}

html {
	background: #000;
	background: hsla(260,40%,5%,1);
}

body {
	font-family: 'Roboto Mono' ,serif;
	min-height: 100vh;
	background-color:#000;
	background: hsla(260,40%,5%,.1);
  	overflow: hidden;
  	margin: 0;
  	padding: 0;
}

button{
  cursor: pointer;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: calc(100vh - 13rem);
	justify-content: flex-start;
	align-items: center;
	position: fixed;
	z-index: -1;
} 

@media screen and (min-width: 53em) {
	.message {
		display: none;
	}
	.content {
		height: 100vh;
		justify-content: center;
	}
} 